
.alert-success{
    transition: all 2s ease-in-out ;
    animation: ani 2s ease-in-out  alternate ;
    width: 30%;
}

@keyframes ani {


0% {
    left: 0px;
}
25% {

    left: 0px;
}
50% {

    left: 50px;
}
55% {

    left: 50px;
}

70% {

    left: 50px;
    background: #1ec7e6;
    color: #Fff;
}
    100% {
        left: 0;
    }

}


